/* wrap max width to cater for UltraWide */
.App {
  display: flex;
  max-width: 1920px;
  flex-direction: column;
  margin: auto;
}

.App-body {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}
